name: Docker Image CI

on:
  push:
    paths:
    - '.devcontainer/**'
  workflow_dispatch:

permissions:
  checks: write
  actions: read
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and run dev container task
        uses: devcontainers/ci@v0.3
        #- uses: education/autograding@v1
        with:
          # Change this to point to your image name
          imageName: ghcr.io/nilhoel1/llvmta-devcontainer

# jobs:

#   build:

#     runs-on: ubuntu-latest

#     steps:
#     - uses: actions/checkout@v3
#     - name: Build the Docker image
#       run: docker build . --file .devcontainer/Dockerfile --tag spp-gem5-container:$(date +%s)
